1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [36]:
#A
l = []
for i in range (1,101):
    if i % 3 == 0 and i % 5 == 0:
        print('MickeyMouse')
        l.append('MickeyMouse')
    elif i % 3 == 0:
        print('Mickey')
        l.append('Mickey')
    elif i % 5 == 0:
        print('Mouse')
        l.append('Mouse')
    else:
        print(i)
        l.append(i)

#B

lst = ['Donald' if (i=='Mickey') else 'Duck' if (i=='Mouse') else i for i in l] 
def convert(list): 
    return tuple(list) 
list = lst
print(convert(lst))

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [44]:
def swap(x,y):
    print('Before swapping', x, ',', y)
    x,y = y,x
    print('After swapping', x, ',', y)
swap(1,2)

Before swapping 1 , 2
After swapping 2 , 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [73]:
import numpy as np
distance = []
def EuDist(x,y):
    d = np.sqrt((y[1]-x[1])**2 + (y[0]-x[0])**2)
    distance.append(d)
    print(d)
    

u = (3,0)
v = (0,4)
EuDist(u,v) 
#print('Euclidean Distance is:', distance)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [78]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s.lower()
from collections import Counter   
res = Counter(s)   
print ("Count of all characters in string s is :\n "
                                           +  str(res))

Count of all characters in string s is :
 Counter({' ': 41, 'e': 22, 't': 19, 'r': 17, 'i': 14, 'o': 13, 'n': 10, 'h': 9, 's': 9, 'u': 9, 'f': 9, 'p': 8, 'm': 8, 'a': 7, 'l': 6, 'b': 4, 'M': 4, 'c': 3, 'd': 3, '1': 2, '0': 2, '.': 2, 'k': 2, 'y': 2, 'v': 2, 'W': 1, 'g': 1, 'B': 1, 'F': 1, 'w': 1})

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [106]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#from collections import Counter

#print(Counter(l).keys()) # equals to list(set(words))
#print(Counter(l).values()) # counts the elements' frequency
#values, counts = np.unique(l, return_counts=True)
#print(values, counts)

def get_unique_numbers(l):

    list_of_unique_numbers = []

    unique_numbers = set(l)

    for l in unique_numbers:
        list_of_unique_numbers.append(l)

    return list_of_unique_numbers

print('Number of Unique numbers in the list is', len(get_unique_numbers(l)))
print(get_unique_numbers(l))

Number of Unique numbers in the list is 54
[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [123]:
def square(n):
    return n**2

def cube(n):
    return n**3

def power(n):
    return cube(square(n))

print(square(2))
print(cube(2))
print(power(2))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [130]:
x = np.arange(0, 10).tolist()
cubesA = []
cubesB = []
#A
for i in x:
    cubesA.append(i**3)

#B
cubesB = [i**3 for i in x]

print(cubesA)
print(cubesB)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [135]:
def pythagoreanTriplets(limits) : 
    c, m = 0, 2
  
    # Limiting c would limit  
    # all a, b and c 
    while c < limits : 
          
        for n in range(1, m) : 
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n 
  
            if c > limits : 
                break
  
            print(a, b, c) 
  
        m = m + 1

pythagoreanTriplets(100)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [145]:
def norm(t):
    amin, amax = min(a), max(a)
    for i, val in enumerate(a):
        a[i] = (val-amin) / (amax-amin)
    return a
t = (2,4,10,6,8,4)
norm(t)

[0.0, 0.25, 1.0, 0.5, 0.75, 0.25]